.DS_Store
xcuserdata/
*.xcuserstate
Pokedex.xcworkspace/
build/
DerivedData/
*.moved-aside
.build/
Packages/
.swiftpm/
Pods/
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
.idea/
*.swp
*.swo
*.env
*.secret
*.key
